@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins text-black break-words dark:text-white;
}
